#privacy-head {
    height: 500px;
    width: 100%;
    position: relative;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.0354516807) 0%, rgba(0, 0, 0, 0.7) 100%), url("../images/page/privacy2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: brightness(100%) blur(px); */
    display: grid;
    place-items: center;
    flex-wrap: wrap;
    align-items: center;
}

#privacy-head h1 {
    font-size: 3.4em;


    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 600;
    border-bottom: 5px solid #000000;
    letter-spacing: 5px;

}

.term_heading {
    padding: 50px;
}

.return_main {
    padding: 20px 0px;
    font-size: 2.4em;
}

.condition_paragrah {
    font-size: 1.2em;
}

.return_maintwo {
    padding: 20px 0px;
    font-size: 2em;
}

.return_link {
    padding: 10px;
}

.return_link li {
    padding: 5px;
    list-style: circle;
    font-size: 1.1em;
}



















/*<<<<<<<<<<<<<<<<<------------ FAQ-PAGE -------->>>>>>>>>>>>>>>>*/

#faq-head {
    height: 500px;
    width: 100%;
    position: relative;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.0354516807) 0%, rgba(0, 0, 0, 0.7) 100%), url("../images/page/faq1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: brightness(100%) blur(px); */
    display: grid;
    place-items: center;
    flex-wrap: wrap;
    align-items: center;
}

#faq-head h1 {
    font-size: 3.4em;


    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 600;
    border-bottom: 5px solid #000000;
    letter-spacing: 5px;

}

.detail {
    /* background: #f2f2f2b8; */
    border-radius: 5px;
    /* border: .5px solid #000000a6; */
    padding: 10px;
    margin: 5px;
    font-size: 1.3em;
}

summary::marker {
    content: "<img src=" data:image/png;
    base64,
    iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAACoklEQVRYhe2YPWgUURDH //M2GvEj4h0oCEYPRCUiKGqilbt7LxuuOEXxLCxsI2KjIiKoLKkComgs9EoLq4CVde4IgoWmErEM+IHVnWCMcOT2jY3CXu5r3+7Lpbl/d2/mzfzuP+zALtBXX331Vp7nZUzWEyaLua7rBfV6yfO8LaZqGgPM5XKDBMwA2Kvq9fum6hoDrNVq9wAcBAAGbo3b9lETdY0AZrPZAwTcDh0NKCGKvu8nrm/GQebnAAZXnY6+nZ+fTFqakhaQjnOFiV62Cf9iYGRubu573PqJHJyYmEgx0cMOKUMAHifpkQhwZWVlGsDOTjkEXHJdNx+3R+wRu647SsA7RPuTXwKlDpfL5d+6fWI5aNv2ABEVNe4PW5b1IE6vWICWZd0Es96eY74hpTym20t7xFLKYVbqE4CtuncBvE+l06dnZ2eDqBf0HVTqGeLBAcDJarV6VeeCloOu654n4LUeU5O0dmNkB/P5/GZKuNP+aYiAJ1GTIwP+WV6eArAvFlKzLjqOczZKYqQRSymPsFILADYkwmpUpN3Y1UHf9wUrVYRZOAAYtoTwuyVZ3RKEEJMEaD15GhrLZDJvFhcXf7RL6DjibDa7i5g/M7DDPNt/AvqQSqVOtduNnUes1KM1hQMA5hM/K5Vr7cJtHRx3nDOKqNQpx6CWAqVGyuXyt9WBlg4WCoWNAdEL9AYOALYJIZ62CrQErFQqdwk4tLZMjSLggnSccy3OG2Xb9n5LiI8ANvWELCzmrwHzSHg3NjloCTGD9YADAKI9QoiphqPwD+k4l5noVW+pmhQo5rFSqbQAhBzM5XJDXV6AeiXLIioWCgULCAHWarVpALvXDSskBo5Xq9XrwL8RSym3Q6lpJjL6MSmRmJdS6fSd9cboq6+/36i/wvqDSWYAAAAASUVORK5CYII="> ";
}

details[open] summary::marker {
    content: "<img src=" data:image/png;
    base64,
    iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAYAAADHyrhzAAAABmJLR0QA/wD/AP+gvaeTAAAEjElEQVR4nO2a3WscVRjGf+/s1BRvpEm98HJS8K5XiiA0abqN3khv/ReqtbbS2oJfCErrR/0EUeoHQlHRriA0yuJmz8xYL5ZY6wcoFTSbbUGRYqsNTWNjZo4XyUq6TDa7M2dmKszvKjvnvA8PD+/OvjkzUFBQUFBQUFBQkDrS/mNsbMy2LeuY1vrmPA3lgmUdVkp5dvuz7/uL5XK5JiLv5ukrc0S+HhwcPAkrOqO9tL1crgPl7F3lQqDhDtd1vwGwOhY1IvcDV7P3lQuvtIMAKHWuzszMXNjkOOuB0UxtZc+5IAzvbbVaC+0LnZ0BwNz8/CFgOjNbORBq/aDv+5dXXosMo9FozIvWD2RjKxc+9jzvROfFyDAA6p73uUAlXU+5MKvhoaiFVcMAWAzDPcBfqVjKCQ2Pua77a9Ra1zB83/8drZ9Mx1YunBoaGnpjtcWuYQCMbN36msCUWU+5sCiWtbNSqQSrbegcuiLZtm3bbZbIFBE/xf8bRI4opQ5227JmZwB4nndaw+tmXOXCuSAInlprU09hAAwMDDwORN54rnc07O6cKaLoOYxqtTqLyP5ktrJHw3HXdSd62dtzGABKqY8Q+SyerVyYBfb1urmvMAD00mQ6129dLmj9yGozRRR9h+G67lmBZ/uty4GvBjduPNpPQd9hAGwYGnoeOBOnNiMWrTDsOlNEESuMSqWyoOE+QMepTxuBFyd9/7t+62KFAeC67km0Pha3PkXOWrb9dJzC2GEsVVv7gT8SaZhGZHetVot1g08UhlLqgsCjSTQM86FS6tO4xck6A6i77tto7SfVMcCsVSolGgoThwHoEHYD/xjQio/IwcnJyd+SSJgIA8/zfkTrl01oxUFgamRk5C0DOmbYsWPHjVcuX/4BEceUZo8shlrf7nne90mFjHQGwMTExBUtkv0hssgRE0GAwTAAXNetAp+Y1FyDVqlUOmRKzGgYACXb3guseXZgAtE69kwRhfFjvOnp6dnh4eEF4G7T2ivR8IHyPKP/MBrvDIAgCF4Fvk1De5lLpVLpgGnRVMLwfX8RkZ1AmIa+wIGkM0UUqYQBoJQ6JfCmaV2BqS2jo++Y1l3WTo/x8fGbtNZn0PoWQ5LGZoooUusMgHq9fgkw9t0WeC6tICDlMACUUu+jdT2pjsAvy69KpEbqYQBYtr0L+DuJhhbZ1Wg05g1ZiiSTx4XNZvPiJsdZB4zFlHhPue4LJj1FkUlnAKwbGHhGw08xSi+WbDuTh1eZhVGtVq+WtO7/EFnkYK1WO5+Oq2vJ9Kl6s9U66zjOrQKbeyz5Urnu3lRNrSCzzmgjIvsE/uxh6wIimT6OyPx9i5mZmblhx5kF7um6UeSwUup4Nq6WyLwzALaMjh4FGl22/BwEweGs/LRJdRzvxvj4+GYdhqeBdZ1rYll31ev1xINav+T2WlKz2TzvOM4GgTuvWRA5ppR6KQ9PuXxN2ti2/QTQWnHpYhrnFL2Saxi1Wm1OtP5voNLwcFYzxXXL9nL5xPZy+QtyvIcB2GtvSZ8gDPfcAOu5Tl9xKCgoKCgoKIjFvyGmekgl9ni0AAAAAElFTkSuQmCC"> ";
}





/*<<<<<<<<<<<<<<<<<------------ FAQ-PAGE -------->>>>>>>>>>>>>>>>*/














/*<<<<<<<<<<<<<<<<<------------ term & condition-PAGE -------->>>>>>>>>>>>>>>>*/

#term-head {
    height: 500px;
    width: 100%;
    position: relative;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.0354516807) 0%, rgba(0, 0, 0, 0.7) 100%), url("../images/page/Terms-condition.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: brightness(100%) blur(px); */
    display: grid;
    place-items: center;
    flex-wrap: wrap;
    align-items: center;
}

#term-head h1 {
    font-size: 3.4em;


    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 600;
    border-bottom: 5px solid #000000;
    letter-spacing: 5px;

}

.term-list li {
    list-style: decimal-leading-zero;
    padding: 10px;
    font-size: 1.2em;
}
.term-sub-h{
    font-size: 1.4em;
    font-weight: 500;
}










/*<<<<<<<<<<<<<<<<<------------ term & condition-PAGE -------->>>>>>>>>>>>>>>>*/

@media (max-width:820px){
    #faq-head h1 {
        font-size: 2.4em;
    }
    #term-head h1{
        font-size: 2.4em;
    }
    #privacy-head h1{
        font-size: 2.4em;
    }

}






@media (max-width:520px) {
    #privacy-head {
        padding-top: 25px;
    }

    #privacy-head {
        height: 400px;
    }

    #privacy-head h1 {
        font-size: 2em;
        padding: 5px;
        letter-spacing: 2px;
    }

    .return_main {
        font-size: 2.2em;
    }


    .term_heading {
        font-size: 1.9em;
        padding: 45px 0px;
    }

    .return_maintwo {
        font-size: 1.7em;
    }
    
.condition_paragrah {
    font-size: .9em;
}
.term-list li{
    font-size: 0.9em;
}












    /*<<<<<<<<<<<<<<<<<------------ FAQ-PAGE -------->>>>>>>>>>>>>>>>*/

    #faq-head {
        padding-top: 25px;
    }

    #faq-head {
        height: 400px;
    }

    #faq-head h1 {
        font-size: 2em;
        padding: 5px;
        letter-spacing: 2px;
    }

    .detail {
        padding: 2px;
        font-size: 1.1em;
    }












    /*<<<<<<<<<<<<<<<<<------------ FAQ-PAGE -------->>>>>>>>>>>>>>>>*/



    /*<<<<<<<<<<<<<<<<<------------ term & condition-PAGE -------->>>>>>>>>>>>>>>>*/



    #term-head {
        padding-top: 25px;
    }

    #term-head {
        height: 400px;
    }

    #term-head h1 {
        font-size: 1.5em;
        padding: 5px;
        letter-spacing: 2px;
    }
    .term-list li{
        padding: 2px;
    }
    .term-sub-h{
        font-size: 1.2em;
    }








    /*<<<<<<<<<<<<<<<<<------------ term & condition-PAGE -------->>>>>>>>>>>>>>>>*/








}