<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Home Soul Light</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css/soulight.css">
    <link rel="stylesheet" href="/static/assets/css/blog.css">
    <link rel="stylesheet" href="/static/assets/css/about.css">
    <link rel="stylesheet" href="/static/assets/css/contact.css">
    <link rel="stylesheet" href="/static/assets/css/privacy.css">
    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>




    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/slick-theme.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <script src="/static/assets/js/soulight.js"></script>


</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="soulight-index.php" class="logo">
                            <img src="/static/assets/images/logo.png" alt="soulight-logo" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" id="navbar1">
                            <li><a href="soulight-index.php" class="active">Home</a></li>
                            <li><a href="about.php">About</a></li>
                            <li><a href="#">
                                    <div class="dropdown">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Work Shop
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Action</button>
                                            <button class="dropdown-item" type="button">Another action</button>
                                            <button class="dropdown-item" type="button">Something else here</button>
                                        </div>
                                    </div>

                                </a></li>
                            <!-- <li><a href="#testimonials">Testimonials</a></li>
                            <li><a href="#pricing-plans">Pricing Tables</a></li>
                            <li><a href="#blog">Blog Entries</a></li> -->
                            <li><a href="contact.php">Contact Us</a></li>
                            <li><a href="loginform/login.html">Login</a></li>
                        </ul>
                        <a class='menu-trigger' onclick="myFunction()" id="menu1">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <!-- ***** Header Area End ***** -->

<div id="about-head1">
    <h1> About</h1>
</div>



<div class="section section-4 border-top" id="about-head">
    <div class="container">
        <div class="row justify-content-center  text-center mb-5">
            <div class="col-lg-6">
                <h2 class="font-weight-bold heading mb-2">We Bring Dream Homes To Reality</h2>
                <p class="text-black-52">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam enim pariatur
                    similique debitis vel nisi qui reprehenderit totam? Quod maiores.</p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" id="desing-img">
                <div class="img-about dots">
                    <img src="/static/assets/images/page/facebookimage1.png" alt="Image" class="img-fluid" id="face_bookimg"
                        data-pagespeed-url-hash="3541150269"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex feature-h">
                    <div class="feature-text" id="about_meenamain">
                        <h3 class="heading " id="idmeena">About Meena </h3>
                        <p class="text-black-52" id="idtna">Meena is an intuitive energy practitioner, Pranic Healer and
                            a leading Tarot Coach. She teaches meditations, magical workshops through her online
                            sessions.
                            Over the past 8 years, her psychic abilities are increasing and her teachings are
                            contributing to lots of people shifting their reality into new possibilities. Join Meena in
                            these workshops to discover your Magical, Intuitive, Spiritual self and step into being joy,
                            abundance, creativity, career and positivity .</p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer> -->
    <footer class="ftco-footer bg-light ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                    <a href="soulight-index.php" class="logo">
                            <img src="/static/assets/images/logo.png" alt="soulight-logo"/>
                        </a>
                    </h2>
                    <p>behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter">
                       <a href="">
                       <img src="https://img.icons8.com/color/40/000000/twitter-circled--v1.png"/>
                       </a>
                        <a href="">
                        <img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/>
                        </a>
                        <a href="">
                        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
                        </a>
                        </span></a></li>
                        <!-- <li class="ftco-animate"><a href="#"><span class="icon-facebook">
                        <img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/>
                        </span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram">
                        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
                        </span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
       
                        <li><a href="about.php" class="py-2 d-block">About</a></li>
                
                        <li><a href="contact.php" class="py-2 d-block">Contact Us</a></li>
                        <li><a href="blog.php" class="py-2 d-block">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Help</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                          
                            
                            <li><a href="term.php" class="py-2 d-block">Terms &amp; Conditions</a></li>
                            <li><a href="privacy.php" class="py-2 d-block">Privacy Policy</a></li>
                            <li><a href="faq.php" class="py-2 d-block">FAQs</a></li>
                  
                        </ul>
                        <!-- <ul class="list-unstyled">
                           
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View,
                                    San Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 999 999
                                        0000</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 text-center">

                <p class="mb-3 text-secondary fs--1 fw-medium">© Copyright 2022. Made with <img
                        src="/static/assets/images/heart.gif" alt="" width="20" height="20"> by <a href="https://kyubok.com/"
                        target="_BLANK" id="kyuboklink">KyuBok Developers</a></p>
            </div>
        </div>
    </div>
</footer>



</body>

</html>