




<div id="privacy-head">
    <h1> PRIVACY / POLICY</h1>
</div>

















<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center ">
                <div class="">
                    <h1 class="term_heading"> Privacy / Policy</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="">
                    <h2 class="return_main">About Us</h2>
                    <p class="condition_paragrah">In this Privacy Policy, references to “we” or “us” are to Soulight
                        Limited, a company incorporated in England and Wales (registered number 8324083) whose
                        registered office is at 71 Queen Victoria Street, London, EC4V 4BE, United Kingdom. </p>
                </div>
                <div class="ul_maindiv">

                    <h4 class="return_maintwo">Registering with Soulight.</h4>
                    <ul class="return_link">
                        <li>When you register on the FutureLearn Website, when you create and update your Learner
                            profile, and when you purchase Online Courses on the Website, we and third parties working
                            with us will collect the following information:</li>
                        <li> Name, email address, age (required)</li>
                        <li> Home address, date of birth, telephone number, country of nationality
                            (required for certain courses)</li>
                        <li> Other personal data if you choose to register for a FutureLearn account via
                            third party sites including Facebook and Google, and have provided your personal information
                            on those platforms</li>
                        <li> Credit/debit card information </li>
                        <li> Data relating to your use of our Website and enrolment on Online Courses</li>
                        <li> Information provided by you when you correspond with us (including via surveys)</li>
                        <li> Other information you choose to provide about your interests, educational background,
                            occupation and work experience, learning goals, and other general learning preferences for
                            the purpose of making course recommendations on our website or, if you’ve opted in, via
                            email and personalising our services to your needs.</li>
                        <li>Information provided from third party sources, such as our Partners who may invite you to a
                            certain course.
                            t</li>









                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>







<!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer> -->
    <footer class="ftco-footer bg-light ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                    <a href="soulight-index.php" class="logo">
                            <img src="assets/images/logo.png" alt="soulight-logo"/>
                        </a>
                    </h2>
                    <p>behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter">
                       <a href="">
                       <img src="https://img.icons8.com/color/40/000000/twitter-circled--v1.png"/>
                       </a>
                        <a href="">
                        <img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/>
                        </a>
                        <a href="">
                        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
                        </a>
                        </span></a></li>
                        <!-- <li class="ftco-animate"><a href="#"><span class="icon-facebook">
                        <img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/>
                        </span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram">
                        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
                        </span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
       
                        <li><a href="about.php" class="py-2 d-block">About</a></li>
                
                        <li><a href="contact.php" class="py-2 d-block">Contact Us</a></li>
                        <li><a href="blog.php" class="py-2 d-block">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Help</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                          
                            
                            <li><a href="term.php" class="py-2 d-block">Terms &amp; Conditions</a></li>
                            <li><a href="privacy.php" class="py-2 d-block">Privacy Policy</a></li>
                            <li><a href="faq.php" class="py-2 d-block">FAQs</a></li>
                  
                        </ul>
                        <!-- <ul class="list-unstyled">
                           
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View,
                                    San Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 999 999
                                        0000</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 text-center">

                <p class="mb-3 text-secondary fs--1 fw-medium">© Copyright 2022. Made with <img
                        src="./assets/images/heart.gif" alt="" width="20" height="20"> by <a href="https://kyubok.com/"
                        target="_BLANK" id="kyuboklink">KyuBok Developers</a></p>
            </div>
        </div>
    </div>
</footer>



</body>

</html><!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Home Soul Light</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/soulight.css">
    <link rel="stylesheet" href="assets/css/blog.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/contact.css">
    <link rel="stylesheet" href="assets/css/privacy.css">
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>




    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/soulight.js"></script>


</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="soulight-index.php" class="logo">
                            <img src="assets/images/logo.png" alt="soulight-logo" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" id="navbar1">
                            <li><a href="soulight-index.php" class="active">Home</a></li>
                            <li><a href="about.php">About</a></li>
                            <li><a href="#">
                                    <div class="dropdown">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Work Shop
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Action</button>
                                            <button class="dropdown-item" type="button">Another action</button>
                                            <button class="dropdown-item" type="button">Something else here</button>
                                        </div>
                                    </div>

                                </a></li>
                            <!-- <li><a href="#testimonials">Testimonials</a></li>
                            <li><a href="#pricing-plans">Pricing Tables</a></li>
                            <li><a href="#blog">Blog Entries</a></li> -->
                            <li><a href="contact.php">Contact Us</a></li>
                            <li><a href="loginform/login.html">Login</a></li>
                        </ul>
                        <a class='menu-trigger' onclick="myFunction()" id="menu1">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <!-- ***** Header Area End ***** -->