<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Home Soul Light</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/soulight.css">
    <link rel="stylesheet" href="assets/css/blog.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/contact.css">
    <link rel="stylesheet" href="assets/css/privacy.css">
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>




    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/soulight.js"></script>


</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="soulight-index.php" class="logo">
                            <img src="assets/images/logo.png" alt="soulight-logo" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" id="navbar1">
                            <li><a href="soulight-index.php" class="active">Home</a></li>
                            <li><a href="about.php">About</a></li>
                            <li><a href="#">
                                    <div class="dropdown">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Work Shop
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Action</button>
                                            <button class="dropdown-item" type="button">Another action</button>
                                            <button class="dropdown-item" type="button">Something else here</button>
                                        </div>
                                    </div>

                                </a></li>
                            <!-- <li><a href="#testimonials">Testimonials</a></li>
                            <li><a href="#pricing-plans">Pricing Tables</a></li>
                            <li><a href="#blog">Blog Entries</a></li> -->
                            <li><a href="contact.php">Contact Us</a></li>
                            <li><a href="loginform/login.html">Login</a></li>
                        </ul>
                        <a class='menu-trigger' onclick="myFunction()" id="menu1">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <!-- ***** Header Area End ***** -->




<div id="term-head">
    <h1>
        TERMS AND CONDITIONS
    </h1>
</div>

<div class="container">
    <div class="row m-2 mb-5">
        <div class="col-lg-12">

            <h2 class="return_main">Terms and conditions</h2>
        </div>
        <div class="col-lg-12">
            <div class="">


                <h4 class="return_maintwo">Welcome to Soulight!</h4>
                <p class="condition_paragrah">We are delighted that you have chosen FutureLearn to help with your
                    on-line educational or training needs. The following pages create the terms and conditions of a
                    contract between you and us which covers: (a) your use of our website; and (b) how we make our
                    learning program available to you.</p>
                <p>Whilst the full terms and conditions of this contract are set out further below, we have summarised
                    the key terms of the contract as follows. Please note that this summary does not form part of our
                    contract and if there is any conflict then you will need to rely on the contract itself.</p>

                <h4 class="return_maintwo">Summary</h4>
                <p class="term-sub-h">(a) Website use</p>
                <p>
                <ul class="term-list">
                    <li>We are licensed to use all the content on our website. Generally, the content is owned by our
                        Partner Institutions, but we control access to it. We ask that you please respect the content.
                    </li>
                    <li>You are not allowed to commercialise our website or the content on it (i.e. you are not allowed
                        to make money or attract advertising to another business by using our website).</li>
                    <li>You can share our Homepage URL with others but if you only link to part of our website or copy
                        and paste parts of it you have to acknowledge where the content comes from.</li>
                    <li>We are not responsible for the content or any viruses etc on sites that we may link to</li>
                    <li>You are not allowed to develop, support or use software, devices or scripts to scrape the
                        content on the website.</li>
                    <li>We comply with all relevant laws on Privacy and Data Protection. In general, this means that we
                        will only collect or process personal information for specific and lawful purposes, we won’t
                        collect more than we need for those purposes or keep it for longer than necessary, we’ll do our
                        best to keep it accurate, and we’ll keep it as safe as we can. Please see our Privacy Policy for
                        more details.</li>
                </ul>
                </p>


                <p class="term-sub-h">(b) Registering on our Courses</p>
                <p>
                <ul class="term-list">
                    <li>You need to be aware that our Partner Institutions may have their own terms, policies and
                        procedures regarding your eligibility to participate in our courses. If you do not meet those
                        criteria, you will not be permitted to register for them on our platform.
                    </li>
                    <li>If you are given any credit or certification for a course from our Partner Institution, that
                        will be the entire responsibility of our Partner Institution and you should contact them if you
                        experience any issues with obtaining your certificate. If you have paid for a FutureLearn
                        certificate and experience any concerns accessing the certificate, </li>
                    <li>We are not responsible for the content or any viruses etc on sites that we may link to</li>
                    <li>You may only use the content on our platform for your own personal or business learning and you
                        are not allowed to adapt it or distribute any of it to anybody else.</li>
                    <li>You may be able to post your own content on our site. We don’t make any claim to ownership of
                        that content, but you do give us a licence to use, display, exploit and sublicense it for any
                        purposes associated with the provision of the website or the course. You are responsible for
                        making sure the content of what you post does not infringe the copyright or other rights of
                        third parties and you may be liable to them and to us for any loss or damage that they or we
                        suffer for content you publish which infringes the rights of others.</li>
                </ul>
                </p>





            </div>
        </div>
    </div>
</div>






<!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer> -->
    <footer class="ftco-footer bg-light ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                    <a href="soulight-index.php" class="logo">
                            <img src="assets/images/logo.png" alt="soulight-logo"/>
                        </a>
                    </h2>
                    <p>behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter">
                       <a href="">
                       <img src="https://img.icons8.com/color/40/000000/twitter-circled--v1.png"/>
                       </a>
                        <a href="">
                        <img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/>
                        </a>
                        <a href="">
                        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
                        </a>
                        </span></a></li>
                        <!-- <li class="ftco-animate"><a href="#"><span class="icon-facebook">
                        <img src="https://img.icons8.com/fluency/40/000000/facebook-new.png"/>
                        </span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram">
                        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
                        </span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
       
                        <li><a href="about.php" class="py-2 d-block">About</a></li>
                
                        <li><a href="contact.php" class="py-2 d-block">Contact Us</a></li>
                        <li><a href="blog.php" class="py-2 d-block">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Help</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                          
                            
                            <li><a href="term.php" class="py-2 d-block">Terms &amp; Conditions</a></li>
                            <li><a href="privacy.php" class="py-2 d-block">Privacy Policy</a></li>
                            <li><a href="faq.php" class="py-2 d-block">FAQs</a></li>
                  
                        </ul>
                        <!-- <ul class="list-unstyled">
                           
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View,
                                    San Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 999 999
                                        0000</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 text-center">

                <p class="mb-3 text-secondary fs--1 fw-medium">© Copyright 2022. Made with <img
                        src="./assets/images/heart.gif" alt="" width="20" height="20"> by <a href="https://kyubok.com/"
                        target="_BLANK" id="kyuboklink">KyuBok Developers</a></p>
            </div>
        </div>
    </div>
</footer>



</body>

</html>